.playlist-card {
  height: $card-size-desktop;
  width: $card-size-desktop;
  border-radius: 3rem;
  overflow: hidden;
  position: relative;
  box-shadow: 0px 2px 14px 8px rgba(0, 0, 0, 0.05);

  @include respond(tab-land) {
    height: $card-size-tab;
    width: $card-size-tab;
  }

  @include respond(phone) {
    height: 100%;
    width: 100%;
  }

  &:focus {
    box-shadow: 0 0 0 3px rgba(red, 1);
    outline: none;
  }

  &__img {
    height: 100%;
    width: 100%;
    transform: scale(1.2); // hide image spotify icon by zooming in
  }

  &__dark-cover {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 2;
    background: linear-gradient(
      to bottom,
      rgba(245, 246, 252, 0),
      rgba(0, 0, 0, 0.6)
    );
  }

  &__private-icon {
    position: absolute;
    top: 1rem;
    right: 1rem;
    z-index: 3;
    fill: white;
  }

  &__collab-icon {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    z-index: 3;
    fill: white;
  }
}
