@import 'scss/components.scss';

.Header {

    position: sticky;

    top: 0;

    padding: $theme-padding * 2;

    background: rgba(white, 0);

    height: 80px;

    display: flex;
    align-items: center;

    z-index: 100;

    transition: .2s ease;
    transition-property: background;

    :global(.theme--light--high-contrast) & {

        border-bottom: 2px solid black;

    }

    :global(.theme--dark--high-contrast) & {

        border-bottom: 2px solid white;

    }

    @media(max-width: $break-point-md){

        height: 60px;

        padding: $theme-padding;

    }

    &Opaque {

        background: white;

        box-shadow: 0 0 10px rgba(black, .1)

        :global(.theme--dark) & {

            background: $md-grey-900;

        }

        :global(.theme--light--high-contrast) & {

            background: $md-yellow-500;

        }

        :global(.theme--dark--high-contrast) & {

            background: black;

        }

    }

    &Logo {

        font-family: 'Quicksand', sans-serif;
        @include font-sizer(20);
        color: black;

        display: flex;
        align-items: center;

        @media(max-width: $break-point-lg - 1){

            @include font-sizer(0);

        }

        :global(.theme--dark) &,
        :global(.theme--dark--high-contrast) & {

            color: white;

        }

        &Icon {

            $size: 30px;

            width: $size;
            height: $size;

            margin-right: 5px;

            fill: $md-red-500;

            :global(.theme--light--high-contrast) & {

                fill: black;

            }

            :global(.theme--dark--high-contrast) & {

                fill: white;

            }

        }

    }

    &Search {

        $size: 32px;

        position: relative;

        width: 100%;
        height: $size;
        padding: 5px 7px;

        border-radius: $size;
        border: 2px solid rgba(black, .1);

        z-index: 2;

        transition: .2s ease;
        transition-property: width, margin-left;

        :global(.theme--dark) & {

            border-color: rgba(white, .1);

        }

        :global(.theme--light--high-contrast) & {

            border-color: black;

        }

        :global(.theme--dark--high-contrast) & {

            border-color: white;

        }

        &Filled {

            @media(max-width: $break-point-md){

                width: calc(100% + 125px);

                margin-left: -40px;

            }

        }

        &Icon,
        &IconReset {

            position: relative;

            $size: 18px;

            width: $size;
            height: $size;

            fill: $md-grey-500;

            transition: .2s ease;
            transition-property: fill;

            z-index: 2;

            :global(.theme--light--high-contrast) & {

                fill: black;

            }

            :global(.theme--dark--high-contrast) & {

                fill: white;

            }

        }

        &IconReset {

            cursor: pointer;

        }

        &Input {

            position: absolute;

            top: -3px;
            left: 0;

            width: 100%;
            height: inherit;

            padding: 3px 30px 3px 30px;

            font-family: 'Barlow', sans-serif;
            @include font-sizer(13);
            font-weight: 600;
            line-height: 1.2;
            color: black;

            background: rgba(black, 0);

            :global(.theme--dark) &,
            :global(.theme--dark--high-contrast) & {

                color: white;

            }

            &::placeholder {

                :global(.theme--light--high-contrast) & {

                    color: black;

                }

                :global(.theme--dark--high-contrast) & {

                    color: white;

                }

            }

        }

        &Input:focus + &Icon {

            fill: $md-red-500;

            :global(.theme--light--high-contrast) & {

                fill: black;

            }

            :global(.theme--dark--high-contrast) & {

                fill: white;

            }

        }

        &Results {

            position: absolute;

            top: 100%;
            left: 0;

            width: 100%;
            max-width: 500px;
            max-height: 80vh;

            margin-top: $theme-padding;

            background: white;

            border-radius: 8px;

            display: flex;

            filter: drop-shadow(0 0 20px rgba(black, .1));

            animation: slideUp .2s ease;

            :global(.theme--dark) & {

                background: $md-grey-800;

            }

            :global(.theme--light--high-contrast) & {

                border: 2px solid black;

                background: $md-yellow-500;

            }

            :global(.theme--dark--high-contrast) & {

                border: 2px solid white;

                background: black;

            }

            @media(max-width: $break-point-md){

                position: fixed;

                max-width: 100%;
                max-height: 100%;
                height: 100%;

                top: 0;

                margin-top: 0;
                padding-top: 60px;

                border-radius: 0;

                filter: none;

                animation: none;

                z-index: 1;

            }

            @keyframes slideUp {

                from {

                    transform: translateY(3px);

                }

                to {

                    transform: translateY(0);

                }

            }

            &::before {

                $size: 14px;

                /* */

                content: '';

                position: absolute;

                top: -$size;
                left: $theme-padding;

                width: $size;
                height: $size;

                border: $size / 2 solid transparent;
                border-bottom-color: white;

                :global(.theme--dark) & {

                    border-bottom-color: $md-grey-800;

                }

                :global(.theme--light--high-contrast) & {

                    border-bottom-color: black;

                }

                :global(.theme--dark--high-contrast) & {

                    border-bottom-color: white;

                }

            }

            &Row {

                padding: 0;
                margin: 0;

                list-style: none;

                flex-grow: 1;

                overflow: auto;

                @media(max-width: $break-point-md){

                    border-top: 1px solid $md-grey-100;

                    :global(.theme--dark) & {

                        border-top-color: $md-grey-900;

                    }

                    :global(.theme--light--high-contrast) & {

                        border-top-color: black;

                    }

                    :global(.theme--dark--high-contrast) & {

                        border-top-color: white;

                    }

                }

            }

            &List {

                &:not(:last-of-type){

                    border-bottom: 1px solid $md-grey-100;

                    :global(.theme--dark) & {

                        border-bottom-color: darken($md-grey-800, 2%);

                    }

                    :global(.theme--light--high-contrast) & {

                        border-bottom-color: black;

                    }

                    :global(.theme--dark--high-contrast) & {

                        border-bottom-color: white;

                    }

                }

            }

            &Empty {

                min-height: 300px;

                padding: $theme-padding * 2;

                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;

                @media(max-width: $break-point-md){

                    min-height: 100%;

                }

                &Icon {

                    margin-bottom: $theme-padding;

                    svg {

                        width: 100px;
                        height: 100px;

                        fill: $md-grey-200;

                        :global(.theme--dark) & {

                            fill: $md-grey-700;

                        }

                        :global(.theme--light--high-contrast) & {

                            fill: black;

                        }

                        :global(.theme--dark--high-contrast) & {

                            fill: white;

                        }

                    }

                }

                &Description {

                    font-family: 'Barlow', sans-serif;
                    @include font-sizer(16);
                    line-height: 1.2;
                    text-align: center;
                    color: $md-grey-600;

                    :global(.theme--dark) & {

                        color: $md-grey-300;

                    }

                    :global(.theme--light--high-contrast) & {

                        color: black;

                    }

                    :global(.theme--dark--high-contrast) & {

                        color: white;

                    }

                }

                &Reset {

                    margin-top: $theme-padding;

                }

            }

        }

    }

    &User {

        &Avatar {

            $size: 40px;

            width: $size;
            height: $size;

            background: $md-blue-grey-700 no-repeat center;
            background-size: cover;

            border-radius: $size / 2;

        }

        &Name {

            font-family: 'Barlow', sans-serif;
            @include font-sizer(13);
            line-height: 1;
            font-weight: 700;
            color: $md-grey-800;

            :global(.theme--dark) &,
            :global(.theme--dark--high-contrast) & {

                color: white;

            }

            :global(.theme--light--high-contrast) & {

                color: black;

            }

        }

        &Email {

            font-family: 'Barlow', sans-serif;
            @include font-sizer(13);
            line-height: 1.2;
            color: $md-grey-600;

            :global(.theme--light--high-contrast) & {

                color: black;

            }

            :global(.theme--dark--high-contrast) & {

                color: white;

            }

        }

        &Settings {

            background: transparent;

            &:focus {

                outline: none;

            }

            cursor: pointer;

            svg {

                $size: 24px;

                width: $size;
                height: $size;

                fill: $md-grey-500;

                :global(.theme--light--high-contrast) & {

                    fill: black;

                }

                :global(.theme--dark--high-contrast) & {

                    fill: white;

                }

            }

        }

    }

}
