@import 'scss/components.scss';

.Header {

    position: sticky;

    top: 0;

    padding: $theme-padding * 2;

    background: rgba(#1c222a, 0);

    height: 80px;

    display: flex;
    align-items: center;

    z-index: 100;

    transition: .2s ease;
    transition-property: background;

    &Opaque {

        background: white;

        box-shadow: 0 0 10px rgba(black, .1)

    }

    &Logo {

        font-family: 'Quicksand', sans-serif;
        @include font-sizer(20);
        color: black;

        display: flex;
        align-items: center;

        &Icon {

            $size: 30px;

            width: $size;
            height: $size;

            margin-right: 5px;

            fill: $md-red-500;

        }

    }

    &Search {

        $size: 30px;

        position: relative;

        width: 100%;
        height: $size;
        padding: 5px 7px;

        background: rgba(black, .1);

        border-radius: $size;
        border: 1px solid rgba(white, .1);

        &Icon {

            $size: 18px;

            width: $size;
            height: $size;

            fill: $md-grey-500;

            transition: .2s ease;
            transition-property: fill;

        }

        &Input {

            position: absolute;

            top: -1px;
            left: 0;

            width: inherit;
            height: inherit;

            padding: 3px 15px 3px 30px;

            font-family: 'Barlow', sans-serif;
            @include font-sizer(13);
            font-weight: 600;
            line-height: 1.2;
            color: black;

            background: rgba(black, 0);

        }

        &Input:focus + &Icon {

            fill: $md-pink-500;

        }

    }

    &User {

        &Avatar {

            $size: 40px;

            width: $size;
            height: $size;

            background: $md-blue-grey-700 no-repeat center;
            background-size: cover;

            border-radius: $size / 2;

        }

        &Name {

            font-family: 'Barlow', sans-serif;
            @include font-sizer(13);
            line-height: 1;
            font-weight: 700;
            color: $md-grey-800;

        }

        &Email {

            font-family: 'Barlow', sans-serif;
            @include font-sizer(13);
            line-height: 1.2;
            color: $md-grey-600;

        }

    }

}
