@import '../../assets/styles/variables';

.playlists {
  .playlists-topbar {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-bottom: 1px solid $grey-light;
  }

  .playlists-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 3rem;
    padding: 4rem 2rem;
    text-align: center;
  }

  .not-found {
    width: 100%;
    padding: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    svg {
      width: 5rem;
      height: 5rem;
      stroke-width: 1;
      stroke: $primary-color;
    }

    .not-found__title {
      font-size: 1.2rem;
      font-weight: bold;
      color: $primary-color;
      margin-top: 1rem;
    }

    .not-found__subtitle {
      font-size: .9rem;
    }
  }
}
