{
  "presets": [
    "env",
    "react"
  ],
  "plugins": [
    "transform-runtime",
    "transform-object-rest-spread",
    "transform-class-properties",
    "transform-es2015-modules-commonjs"
  ]
}
