{
  "extends": [
    "react-app",
    "airbnb",
    "prettier",
    "prettier/react"
  ],
  "plugins": [
    "prettier"
  ],
  "rules": {
    "react/forbid-prop-types": 0,
    "react/require-default-props": 0,
    "import/prefer-default-export": 0,
    "react/jsx-props-no-spreading": 0,
  }
}
