a
  text-decoration none
  color white

.card:hover
  border 2px #5a4ded solid
  background #673ab7
  border-radius 2%
  transition all 0.3s

.max-size
  max-width 250px
  max-height 250px

  @media (max-width: 600px)
    max-width 100px
    max-height 100px

.caption
  font-size 36px

  @media (max-width: 600px)
    font-size 20px