$primary-color: #ea1d2c;

$card-size-desktop: 22rem;
$card-size-tab: 17rem;

$app-horizontal-padding-desktop: 4rem;
$app-vertical-padding-desktop: 3rem;
$app-horizontal-padding-tab: 2rem;
$app-vertical-padding-tab: 2rem;
$app-horizontal-padding-phone: 1rem;
$app-vertical-padding-phone: 1rem;
