$gutter-desktop: 2rem;

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.playlists {
    &__logo {
        width: 34rem;
    }
    &__content {
        display: flex;
        flex-direction: row;
        width: 100%
    }

    &__filters {
        min-width: 36rem;
        width: 25vw;
    }

    &__items {
        flex: 1;
        display: grid;
        align-items: end;
        padding: 0 $gutter-desktop;
        grid-gap: $gutter-desktop;
        grid-template-columns: repeat(auto-fit, $card-width-desktop);
        grid-auto-rows: max-content;
        height: fit-content;
        justify-content: flex-start;
    }

    &__refresh {
        position: absolute;
        z-index: 300;
        top: 1.5 * $app-padding-desktop;
        right: 1.5 * $app-padding-desktop;
        animation: fadein 1s; // since API loads very quickly, I added this animation to smooth the Spinner appearance
    }

    &__loading {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        flex: 1;
    }
}