$gutter-desktop: 2rem;
$gutter-phone: 1rem;

.playlists {
  width: 100%;
  padding: $app-vertical-padding-desktop $app-horizontal-padding-desktop;

  @include respond(tab-port) {
    padding: $app-vertical-padding-tab $app-horizontal-padding-tab;
  }

  @include respond(phone) {
    padding: $app-vertical-padding-phone $app-horizontal-padding-phone;
    padding-top: $app-vertical-padding-phone + 2rem;
  }

  &__logo {
    width: 34rem;

    @include respond(tab-port) {
      width: 28rem;
    }

    @include respond(phone) {
      width: 100%;
    }
  }

  &__content {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    width: 100%;

    @include respond(phone) {
      flex-direction: column;
    }
  }

  &__filters {
    min-width: 36rem;
    width: 25vw;
    margin-bottom: 2rem;

    @include respond(tab-port) {
      min-width: 24rem;
      width: 24vw;
    }

    @include respond(phone) {
      min-width: 0;
      width: 100%;
    }
  }

  &__filters-content {
    max-height: 130vh;
    transition: max-height 0.25s ease-in;
    overflow: scroll;

    @include respond(phone) {
      max-height: 180vh;
      &--collapsed {
        overflow: hidden;
        max-height: 0;
        transition: max-height 0.15s ease-out;
        visibility: hidden;
      }
    }
  }

  &__menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    visibility: hidden;

    @include respond(phone) {
      visibility: visible;
    }
  }

  &__items {
    flex: 1;
    display: grid;
    align-items: end;
    padding: 0 $gutter-desktop;
    grid-gap: $gutter-desktop;
    grid-template-columns: repeat(auto-fit, $card-size-desktop);
    grid-auto-rows: max-content;
    height: fit-content;
    justify-content: flex-start;

    @include respond(tab-land) {
      grid-template-columns: repeat(auto-fit, $card-size-tab);
      justify-content: space-evenly;
    }

    @include respond(phone) {
      grid-template-columns: repeat(2, 1fr);
      padding: 0;
      grid-gap: $gutter-phone;
    }

    & > * {
      animation: moveInTopLow 0.4s ease-out;
      animation-fill-mode: backwards;

      @for $i from 1 through 50 {
        &:nth-child(#{$i}) {
          animation-delay: (0.4s / 2) + $i * (1s / 12);
        }
      }
    }
  }

  &__refresh {
    position: fixed;
    z-index: 300;
    bottom: 1rem;
    right: 1rem;
    animation: fadein 1s; // since API loads very quickly, I added this animation to smooth the Spinner appearance
  }

  &__loading {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex: 1;
  }
}
