// Variables
// Restated Bootstrap Variables

$primary-theme-color:  #bc2026 /* #007BFF */;
$primary-black-color: #222;
$primary-input-color: #495057;

$white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-150: #f7f7f7 !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$black: #000 !default;

$primary: $white !default;
$secondary: $white !default;
