html {
  max-width: 40em;
  margin: 3rem auto;
  padding: 0 2em;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

label {
  width: 100%;
}

.input-group {
  display: flex;
  gap: 10px;
}
