.home {

  width: 100vw;
  max-height: 100vh;

  &__float-header{
    position: absolute;
    top: 15px;
    left: 15px;
  }

  &__container {
  }

  &__header{
    margin-top: 30px;

    &__title{
      color:@white;
      text-align: left;
    }
  }

  &__logo {
    text-align: center;
    padding: 30px 0;

    &__title {
      font-size: 21px;
      color: #adadad;
    }

    &__img {
      width: 150px;
      height: auto;
    }
  }

  &__playlist{
    padding:15px 0px;

    position: relative;
    transition: all 0.5s ease 0s;
    top: 0;

    &:hover{
      top: -10px;
    }

    &__item{
      color:#fff;
      font-size:18px;
    }
  }

  &__loading{
    text-align: center;
    margin-top: 150px;

    &__spin{
    font-size: 50px;
    }
  }
}
