.home {

  width: 100vw;
  max-height: 100vh;

  &__float-header{
    position: absolute;
    top: 15px;
    left: 15px;
  }




  &__advanced-filters{
    &__filters{
      display:flex !important;
      justify-content:flex-end;
    }
  }

  &__loading{
    text-align: center;
    margin-top: 150px;

    &__spin{
    font-size: 50px;
    }
  }
}
