@import 'scss/components.scss';

/* */

$loading-placeholder-color: $md-grey-300;
$loading-placeholder-color-dark: $md-grey-400;

$theme-dark-loading-placeholder-color: darken($md-grey-800, 7.5%);
$theme-dark-loading-placeholder-color-dark: $md-grey-800;

$theme-high-contrast-loading-placeholder-color: black;
$theme-high-contrast-loading-placeholder-color-dark: rgba(black, .75);

$theme-dark-high-contrast-loading-placeholder-color: black;
$theme-dark-high-contrast-loading-placeholder-color-dark: rgba(white, .1);

/* */

%loadingPlaceholder {

    animation: loadingPlaceholder 3s infinite;

    @keyframes loadingPlaceholder {

        0%, 75%, 100% {

            background: $loading-placeholder-color;

        }

        25% {

            background: $loading-placeholder-color-dark;

        }

    }

}

%loadingPlaceholderDark {

    animation: loadingPlaceholderDark 3s infinite;

    @keyframes loadingPlaceholderDark {

        0%, 75%, 100% {

            background: $theme-dark-loading-placeholder-color;

        }

        25% {

            background: $theme-dark-loading-placeholder-color-dark;

        }

    }

}

%loadingPlaceholderHighContrast {

    animation: loadingPlaceholderHighContrast 3s infinite;

    @keyframes loadingPlaceholderHighContrast {

        0%, 75%, 100% {

            background: $theme-high-contrast-loading-placeholder-color;

        }

        25% {

            background: $theme-high-contrast-loading-placeholder-color-dark;

        }

    }

}

%loadingPlaceholderDarkHighContrast {

    animation: loadingPlaceholderDarkHighContrast 3s infinite;

    @keyframes loadingPlaceholderDarkHighContrast {

        0%, 75%, 100% {

            background: $theme-dark-high-contrast-loading-placeholder-color;

        }

        25% {

            background: $theme-dark-high-contrast-loading-placeholder-color-dark;

        }

    }

}

:global {

    .playlist-slider {

        &-enter {

            transform: translateX(-100%);
            // margin-right: -250px !important;

        }

        &-enter-active {

            transform: translateX(0);
            // margin-right: 0 !important;

            transition: .3s ease;
            transition-property: transform, margin-right;

        }

        &-exit-active {

            transform: translateX(-100%);
            // margin-right: -250px !important;

            transition: .3s ease;
            transition-property: transform, margin-right;

        }

    }

}

.Playlist {

    &Title {

        margin: 0;
        margin-bottom: $theme-padding * 2;

        font-family: 'Barlow', sans-serif;
        @include font-sizer(28);
        line-height: 1;
        color: $md-red-500;

        :global(.theme--light--high-contrast) & {

            color: black;

        }

        :global(.theme--dark--high-contrast) & {

            color: white

        }

        @media(max-width: $break-point-md){

            margin-bottom: $theme-padding * 1.1;

            @include font-sizer(24);

        }

        &Loading {

            width: 30%;

            background: $loading-placeholder-color;

            border-radius: 6px;

            @extend %loadingPlaceholder;

            :global(.theme--dark) & {

                background: $theme-dark-loading-placeholder-color;

                @extend %loadingPlaceholderDark;

            }

            :global(.theme--light--high-contrast) & {

                background: $theme-high-contrast-loading-placeholder-color;

                box-shadow: inset 0 0 0 2px black;

                @extend %loadingPlaceholderHighContrast;

            }

            :global(.theme--dark--high-contrast) & {

                background: $theme-dark-high-contrast-loading-placeholder-color;

                box-shadow: inset 0 0 0 2px white;

                @extend %loadingPlaceholderDarkHighContrast;

            }

        }

    }

    &List {

        &:not(:last-of-type){

            margin-bottom: $theme-padding * 4;

            @media(max-width: $break-point-md){

                margin-bottom: $theme-padding * 2;

            }

        }

        &Navigation {

            $size: 24px;

            width: $size;
            height: $size;

            padding: 0;

            background: rgba(black, .4);

            border: 0;
            border-radius: $size / 2;

            outline: none !important;

            cursor: pointer;

            transition: .2s ease;
            transition-property: opacity, transform;

            :global(.theme--dark) & {

                background: rgba(white, .5);

            }

            :global(.theme--light--high-contrast) & {

                background: black;

            }

            :global(.theme--dark--high-contrast) & {

                background: white;

            }

            &:not([disabled]):active {

                transform: scale(0.9)

            }

            &:not(:last-of-type){

                margin-right: $theme-padding / 2;

            }

            &[disabled]{

                opacity: 0.25;

                cursor: default;

            }

            svg {

                width: inherit;
                height: inherit;

                fill: white;

                :global(.theme--dark--high-contrast) & {

                    fill: black;

                }

            }

        }

        &Row {

            margin-left: -($theme-padding * 2);
            margin-top: -$theme-padding;
            padding: 0;
            padding-top: $theme-padding;
            padding-left: $theme-padding;

            list-style: none;

            display: flex;

            transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
            transition-property: transform;

        }

        &List {

            padding-left: $theme-padding;
            padding-right: $theme-padding;

            display: inline-block;

            backface-visibility: hidden;
            perspective: 1000;

        }

        &Cover {

            $size-xl: 220px;
            $size-lg: 180px;
            $size-md: 130px;

            width: $size-xl;
            height: $size-xl;

            margin-bottom: $theme-padding;

            border-radius: 8px;

            :global(.theme--light--high-contrast) & {

                border: 2px solid black;

            }

            :global(.theme--dark--high-contrast) & {

                border: 2px solid white;

            }

            // box-shadow: 0 20px 20px rgba(black, .1);

            @media(max-width: $break-point-lg){

                width: $size-lg;
                height: $size-lg;

            }

            @media(max-width: $break-point-md){

                width: $size-md;
                height: $size-md;

            }

            &Loading {

                background: $loading-placeholder-color;

                @extend %loadingPlaceholder;

                :global(.theme--dark) & {

                    background: $theme-dark-loading-placeholder-color;

                    @extend %loadingPlaceholderDark;

                }

                :global(.theme--light--high-contrast) & {

                    background: $theme-high-contrast-loading-placeholder-color;

                    @extend %loadingPlaceholderHighContrast;

                }


                :global(.theme--dark--high-contrast) & {

                    background: $theme-dark-high-contrast-loading-placeholder-color;

                    @extend %loadingPlaceholderDarkHighContrast;

                }

            }

        }

        &Title {

            font-family: 'Barlow', sans-serif;
            @include font-sizer(16);
            line-height: 1;
            font-weight: 600;
            color: $md-grey-800;

            :global(.theme--dark) & {

                color: white;

            }

            :global(.theme--light--high-contrast) & {

                color: black;

                text-decoration: underline;

            }

            :global(.theme--dark--high-contrast) & {

                color: white;

                text-decoration: underline;

            }

            &Loading {

                width: 80%;

                background: $loading-placeholder-color;

                display: inline-block;

                border-radius: 8px;

                @extend %loadingPlaceholder;

                :global(.theme--dark) & {

                    background: $theme-dark-loading-placeholder-color;

                    @extend %loadingPlaceholderDark;

                }

                :global(.theme--light--high-contrast) & {

                    text-decoration: none;

                    background: $theme-high-contrast-loading-placeholder-color;

                    box-shadow: inset 0 0 0 2px black;

                    @extend %loadingPlaceholderHighContrast;

                }

                :global(.theme--dark--high-contrast) & {

                    text-decoration: none;

                    background: $theme-dark-high-contrast-loading-placeholder-color;

                    box-shadow: inset 0 0 0 2px white;

                    @extend %loadingPlaceholderDarkHighContrast;

                }

            }

        }

        &Owner {

            font-family: 'Barlow', sans-serif;
            @include font-sizer(12);
            font-weight: 400;
            color: rgba(black, .5);

            :global(.theme--dark) & {

                color: rgba(white, .5);

            }

            :global(.theme--light--high-contrast) & {

                color: black;

                text-decoration: underline;

            }

            :global(.theme--dark--high-contrast) & {

                color: white;

                text-decoration: underline;

            }

            &Loading {

                width: 60%;

                background: $loading-placeholder-color;

                display: inline-block;

                border-radius: 8px;

                @extend %loadingPlaceholder;

                :global(.theme--dark) & {

                    background: $theme-dark-loading-placeholder-color;

                    @extend %loadingPlaceholderDark;

                }

                :global(.theme--light--high-contrast) & {

                    text-decoration: none;

                    background: $theme-high-contrast-loading-placeholder-color;

                    box-shadow: inset 0 0 0 2px black;

                    @extend %loadingPlaceholderHighContrast;

                }

                :global(.theme--dark--high-contrast) & {

                    text-decoration: none;

                    background: $theme-dark-high-contrast-loading-placeholder-color;

                    box-shadow: inset 0 0 0 2px white;

                    @extend %loadingPlaceholderDarkHighContrast;

                }

            }

        }

    }

}
