@import 'scss/components.scss';

:global {

    .playlist-slider {

        &-enter {

            transform: translateX(-100%);
            // margin-right: -250px !important;

        }

        &-enter-active {

            transform: translateX(0);
            // margin-right: 0 !important;

            transition: .3s ease;
            transition-property: transform, margin-right;

        }

        &-exit-active {

            transform: translateX(-100%);
            // margin-right: -250px !important;

            transition: .3s ease;
            transition-property: transform, margin-right;

        }

    }

}

.Playlist {

    &Title {

        margin: 0;
        margin-bottom: $theme-padding * 2;

        font-family: 'Barlow', sans-serif;
        @include font-sizer(28);
        line-height: 1;
        color: $md-red-500;

    }

    &List {

        &:not(:last-of-type){

            margin-bottom: $theme-padding * 4;

        }

        &Navigation {

            $size: 24px;

            width: $size;
            height: $size;

            padding: 0;

            background: $md-grey-500;

            border: 0;
            border-radius: $size / 2;

            outline: none !important;

            cursor: pointer;

            transition: .2s ease;
            transition-property: opacity;

            &:not(:last-of-type){

                margin-right: $theme-padding / 2;

            }

            &[disabled]{

                opacity: 0.25

            }

            svg {

                width: inherit;
                height: inherit;

                fill: white;

            }

        }

        &Row {

            margin-left: -($theme-padding * 2);
            margin-top: -$theme-padding;
            padding: 0;
            padding-top: $theme-padding;
            padding-left: $theme-padding;

            list-style: none;

            display: flex;

            transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
            transition-property: transform;

        }

        &List {

            padding-left: $theme-padding;
            padding-right: $theme-padding;

            display: inline-block;

            backface-visibility: hidden;
            perspective: 1000;

        }

        &Cover {

            $size: 220px;

            width: $size;
            height: $size;

            margin-bottom: $theme-padding;

            border-radius: 8px;

            // box-shadow: 0 20px 20px rgba(black, .1);

        }

        &Title {

            font-family: 'Barlow', sans-serif;
            @include font-sizer(16);
            line-height: 1;
            font-weight: 600;
            color: $md-grey-800;

        }

        &Owner {

            font-family: 'Barlow', sans-serif;
            @include font-sizer(12);
            font-weight: 400;
            color: rgba(black, .5);

        }

    }

}
