@import '../../assets/styles/variables';
@import '../../assets/styles/mixins';

.header {
  border-bottom: 1px solid rgba($grey-light, .4);
  padding: .5rem 0;
  width: 100%;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 2;
  @include lg-max {
    padding: .5rem;
  }
  h1 {
    font-size: 1.4rem;
    font-weight: normal;
    color: $grey;
  }
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
