.showPlaylistsPage {
  display: flex;
  flex-flow: column wrap;

  label, div {
    margin-bottom: 10px;
  }

  .filtersContainer {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
  }
}
