.fundCardContainer {
    border: 1px solid #D1D5D7;
    border-top-left-radius: 3px;
    border-top-right-radius:3px;
    height: 100%;
    width: 100%;
    flex-wrap: wrap;
    cursor: pointer;
    transition: all .2s ease;
    line-height: 1.5;
    border-top-left-radius: 3px;
    border-top-right-radius:3px;
}
