@import '../../../../assets/styles/variables';

.playlist {
  $size: 200px;
  position: relative;
  .playlist-click {
    position: relative;
    width: $size;
    height: $size;
    margin: 0 auto;
    .playlist-image {
      width: 100%;
      height: 100%;
    }
    .playlist-overlay {
      position: absolute;
      top: 0;
      left: calc(50% - (#{$size} / 2));
      width: $size;
      height: $size;
      background-color: rgba(black, 0.7);
      justify-content: center;
      align-items: center;
      display: none;
      cursor: pointer;

      svg {
        width: 2.5rem;
        height: 2.5rem;
        stroke-width: 1;
      }
    }
    &:hover {
      .playlist-overlay {
        display: flex;
      }
    }
  }


  .playlist-title {
    font-size: 1rem;
    color: $primary-color;
    margin: 1rem 0 0.2rem 0;
  }

  .playlist-description {
    font-size: .9rem;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
