@import 'scss/components.scss';
@import 'scss/Form.module.scss';

/* */

:global {

    .transition {

        &-fade {

            &-enter-active,
            &-exit-active {

                transition: opacity .2s ease;

            }

            &-enter {

                opacity: 0;

                &-active {

                    opacity: 1;

                }

            }

            &-exit {

                opacity: 1;

                &-active {

                    opacity: 0;

                }

            }

        }

    }

}

.App {

    position: fixed;

    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background: white;

    display: flex;

    :global(.theme--dark) & {

        background: darken($md-grey-900, 2%);

    }

    :global(.theme--light--high-contrast) & {

        background: $md-yellow-500;

    }

    :global(.theme--dark--high-contrast) & {

        background: black;

    }

    &Wrapper {

        flex-grow: 1;

        overflow: auto;

    }

    &View {

        position: relative;

        padding: $theme-padding * 2;
        padding-right: 0;

        overflow: hidden;

        @media(max-width: $break-point-md){

            padding: $theme-padding;
            padding-right: 0;

        }

        &Background {

            position: fixed;

            top: 40px;
            left: 0;

            width: 1000px;
            height: 1000px;

            fill: rgba($md-red-100, .25);

            transform: rotate(185deg);

            z-index: -1;

            :global(.theme--dark) & {

                fill: rgba(black, .1);

            }

            :global(.theme--light--high-contrast) & {

                fill: transparent;

            }

            :global(.theme--dark--high-contrast) & {

                fill: transparent;

            }

        }

    }

    &Settings {

        padding: $theme-padding * 2;

    }

}
