$theme-padding: 15px;

/* */

$theme-break-xl: 1200px;
$theme-break-lg: 992px;
$theme-break-md: 768px;
$theme-break-sm: 576px;

$theme-transition-duration : .4s;
$theme-transition-timing-function: ease;
$theme-border-radius: 5px;

/* */

$header-height: 80px;
$tabs-height: 64px;
