$primary = #5a4ded
$secondary = #673ab7

$dark = #28262c
$light = #fbfbfb

.bg-primary
  background $primary

.tx-primary
  color $primary
.tx-light
  color $light
.bg-dark
.bg-dark
  background $dark

.bg-light
  background $light