// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';

:root {
    --bg-dark: #191414;
    
    --logo-height: 142px;
    --header-height: 130px;
    --menu-top-height: 70px;
    --aside-width: 225px;
    --footer-height: 40px;
    
    --shadow: 
    0 2px 23px 0 rgba(0, 0, 0, 0.1),
    0 2px 49px 0 rgba(0, 0, 0, 0.06);
}

* {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

/* Layout em Grid */

.app {
    margin: 0px;
    display: grid;
    grid-template-columns: var(--aside-width) 1fr;
    grid-template-rows:
    var(--header-height)
    1fr
    var(--footer-height);
    grid-template-areas:
    "logo header"
    "menu content"
    "menu footer";
    height: 100vh;
    background-color: #F5F5F5;
}

aside.logo {
    grid-area: logo;
}

header.header {
    grid-area: header;
}

aside.menu-area {
    grid-area: menu;
}

main.content {
    grid-area: content;
}

footer.footer {
    grid-area: footer;
}

@media(max-width: 768px) {
    .app {
        grid-template-rows:
        var(--header-height)
        var(--menu-top-height)
        1fr
        var(--footer-height);
        grid-template-columns: var(--aside-width) 1fr;
        grid-template-areas:
        "logo header"
        "menu menu"
        "content content"
        "footer footer";
    }
}

@media(max-width: 576px) {
    .app {
        grid-template-rows:
        var(--logo-height)
        var(--menu-top-height)
        1fr
        var(--footer-height);
        grid-template-columns: 1fr;
        grid-template-areas:
        "logo"
        "menu"
        "content"
        "footer";
    }
}

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body {
    font: 400 14px Roboto, sans-serif;
    background: #f0f0f5;
    -webkit-font-smoothing: antialiased;
}

input, button, textarea {
    font: 400 18px Roboto, sans-serif;
}

button {
    cursor: pointer;
}

form input {
    width: 100%;
    height: 60px;
    color: #333;
    border: 1px solid #dcdce6;
    border-radius: 8px;
    padding: 0 24px;
}

form textarea {
    width: 100%;
    resize: vertical;
    min-height: 140px;
    color: #333;
    border: 1px solid #dcdce6;
    border-radius: 8px;
    padding: 16px 24px;
    line-height: 24px;
}

.button {
    width: 100%;
    height: 60px;
    background: #e02041;
    border: 0;
    border-radius: 8px;
    color: #FFF;
    font-weight: 700;
    margin-top: 16px;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    transition: filter 0.2s;
}

.button:hover {
    filter: brightness(90%);
}

.back-link {
    display: flex;
    align-items: center;
    margin-top: 40px;
    color: #41414d;
    font-size: 18px;
    text-decoration: none;
    font-weight: 500;
    transition: opacity 0.2s;
}

.back-link svg {
    margin-right: 8px;
}

.back-link:hover {
    opacity: 0.8;
}

/* --- Responsive typography --- */

/* --- Mobile --- */
@media screen and (max-width: 992px) {
    .font-size-1 {
        font-size: 32px; // 32px
    }

    .font-size-2 {
        font-size: 32px; // 32px
    }

    .font-size-3 {
        font-size: 24px; // 24px
    }

    .font-size-4 {
        font-size: 21px; // 21px
    }

    .font-size-5 {
        font-size: 18px; // 18px
    }

    .font-size-6 {
        font-size: 16px; // 16px
    }

    .font-size-7 {
        font-size: 16px; // 16px
    }

    .font-size-8 {
        font-size: 14px; // 14px
    }

    .font-size-9 {
        font-size: 12px; // 12px
    }
}

/* --- Médias --- */
@media screen and (min-width: 992px) {
    .font-size-1 {
        font-size: 56px; // 56px
    }

    .font-size-2 {
        font-size: 40px; // 40px
    }

    .font-size-3 {
        font-size: 32px; // 32px
    }

    .font-size-4 {
        font-size: 24px; // 24px
    }

    .font-size-5 {
        font-size: 21px; // 21px
    }

    .font-size-6 {
        font-size: 18px; // 18px
    }

    .font-size-7 {
        font-size: 16px; // 16px
    }

    .font-size-8 {
        font-size: 14px; // 14px
    }

    .font-size-9 {
        font-size: 12px; // 12px
    }
}

/* --- Grandes --- */
@media screen and (min-width: 1400px) {
    .font-size-1 {
        font-size: 64px; // 64px
    }

    .font-size-2 {
        font-size: 48px; // 48px
    }

    .font-size-3 {
        font-size: 40px; // 40px
    }

    .font-size-4 {
        font-size: 32px; // 32px
    }

    .font-size-5 {
        font-size: 24px; // 24px
    }

    .font-size-6 {
        font-size: 21px; // 21px
    }

    .font-size-7 {
        font-size: 18px; // 18px
    }

    .font-size-8 {
        font-size: 16px; // 16px
    }

    .font-size-9 {
        font-size: 14px; // 14px
    }
}
/* --- END Responsive typography --- */

$primary: #E02041;

$white: #ffffff;
$black: #091827;
$black-light: #082534;

$gray-ice: #F2F2F2;
$gray-light: #D1D5D7;
$gray-dark: #7E868E;
$gray-graphite: #49535C;
$blue-lighter: #f6fafc;

$orange: #FF6D00;
$orange-light: #FF9B52;
$purple: #8E24AA;
$yellow: #FFB300;
$yellow-dark: #B0810C;
$yellow-gold: #D4AF37;

$green: #00C853;
$red: #E02041;

$theme-colors: () !default;

$theme-colors: map-merge(
  $theme-colors,
  (
    "primary": $primary,
    "orange": $orange-light,
    "orange-light": $orange-light,
    "dark": $black,
    "dark-lighter": $black-light,
    "white": $white,
    "purple": $purple,
    "blue-lighter": $blue-lighter,
    "gray-ice": $gray-ice,
    "gray-light": $gray-light,
    "gray-dark": $gray-dark,
    "gray-graphite": $gray-graphite,
    "yellow": $yellow,
    "yellow-dark": $yellow-dark,
    "yellow-gold": $yellow-gold,
    "green": $green,
    "red": $red
  )
);

@each $color, $value in $theme-colors {
    @include bg-variant(".bg-#{$color}", $value, true);
}

@if $enable-gradients {
    @each $color, $value in $theme-colors {
        @include bg-gradient-variant(".bg-gradient-#{$color}", $value);
    }
}

.bg-white {
    background-color: $white ;
}

.bg-transparent {
    background-color: transparent ;
}

//
// Text
//

.text-monospace { font-family: $font-family-monospace ; }

// Alignment

.text-justify  { text-align: justify ; }
.text-wrap     { white-space: normal ; }
.text-nowrap   { white-space: nowrap ; }
.text-truncate { @include text-truncate(); }

// Responsive alignment

@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

    .text#{$infix}-left   { text-align: left ; }
    .text#{$infix}-right  { text-align: right ; }
    .text#{$infix}-center { text-align: center ; }
  }
}

// Transformation

.text-lowercase  { text-transform: lowercase ; }
.text-uppercase  { text-transform: uppercase ; }
.text-capitalize { text-transform: capitalize ; }

// Weight and italics

.font-weight-light   { font-weight: $font-weight-light ; }
.font-weight-lighter { font-weight: $font-weight-lighter ; }
.font-weight-normal  { font-weight: $font-weight-normal ; }
.font-weight-bold    { font-weight: $font-weight-bold ; }
.font-weight-bolder  { font-weight: $font-weight-bolder ; }
.font-italic         { font-style: italic ; }

// Contextual colors

.text-white { color: $white ; }

@each $color, $value in $theme-colors {
  @include text-emphasis-variant(".text-#{$color}", $value, true);
}

.text-body { color: $body-color ; }
.text-muted { color: $text-muted ; }

.text-black-50 { color: rgba($black, .5) ; }
.text-white-50 { color: rgba($white, .5) ; }

// Misc

.text-hide {
  @include text-hide($ignore-warning: true);
}

.text-decoration-none { text-decoration: none ; }

.text-break {
  word-break: break-word ; // IE & < Edge 18
  overflow-wrap: break-word ;
}

// Reset

.text-reset { color: inherit ; }

.btn {
    box-sizing: border-box;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
}